In [21]:
import PyPDF2 
pdfopen = open('a5in.pdf', 'rb')
pdfReader = PyPDF2.PdfFileReader(pdfopen, strict = False)

In [24]:
print(pdfReader.numPages)
pageObj = pdfReader.getPage(0-3)
print(pageObj.extractText())

3
Page No. 123
Rev. No. 111DEPARTMENT OF TRANSPORTATION
FEDERAL AVIATION ADMINISTRATION
A5IN
Revision No. 1
KWAD
(Mitchell)
(Pine AIR)
Super-V
October 13, 1978
TYPE CERTIFICATE DATA SHEET NO. A5IN
This data sheet which is a part of type certificate No. A5IN prescribes conditions and limitations under which the product for
which they type certificate was issued meets the airworthiness requirements of the Civil Air Regulations and Federal Aviation
Regulations.
Type Certificate Holder KWAD Company
4530 Jetridge Drive NW
Atlanta, Georgia  30327
I - Model Super-V, 4 PCLM (Normal Category), Approved September 21, 1962
Engines 2 Lycoming 0-360-A1D
Fuel 91/96 min. grade aviation gasoline
Engine limits For all operations, 2700 r.p.m. at 26.8 in.Hg. (170 hp.)
Propeller and propeller limits 2 Hartzell full-feathering propellers
HC-92ZK/8447-12A
Diameter:  Not over 72 in., not under 70 in.
Pitch setting at 30 in. station:
Low 12.3°, high 24.7°
Airspeed limits  (TIAS) Never exceed 240 m.p.h. (208 knots)
Maximum structural cruise 190 m.p.h. (165 knots)
Maneuvering 152 m.p.h. (132 knots)
Flaps extended 126 m.p.h. (110 knots)
Landing gear extended 125 m.p.h. (109 knots)
C.G. range  Gross Weight (lb.) Fwd. Limit (in.) Aft Limit (in.)
  (landing gear extended) 3040 75.0 83.1
3230 75.0 82.7
3400 82.4 82.4
Straight line variation between points shown.
3230
75.0 82.43400
3040
83.1GROSSWEIGHT
(lb.)
INCHAFTOFDATUM

In [ ]:

import os
import pdfplumber
import sys
import subprocess
directory = r'./'
for filename in os.listdir(directory):
    if filename.endswith('.pdf'):
        fullpath = os.path.join(directory, filename)
        all_text = ""
        with pdfplumber.open(fullpath) as pdf:
            for page in pdf.pages:
                text = page.extract_text()
                all_text += '\\n' + text
        print(all_text)

In [20]:
a = pdfplumber.open('./a5in.pdf')
pages = a.pages[0]
text = pages.extract_text()
print(text)

NOITATROPSNA R FTTONEMTRAPED
NOITARTSINIMD ANOITAIV ALAREDEF
NI5A
Revision No. 1
DAWK
(Mitchell)
(Pine AIR)
Super-V
October 13, 1978
NI 5.A OTNEE HAST AEDTACIFITR EECPYT
This data sheet which is a part of type certificate No. A5IN prescribes conditions and limitations under which the product for
noit aliavr A esddnneoaFital   usl r gtifieenvoAhReitmCeri usqseernihtro  wse rthdietea e uemsstasawicifi t e rypheeycchtithw
Regulations.
redl oeHtacifitr eeCpyT ynapmo CDAWK
 0354 egdirteJ evirDWN
Atlanta, Georgia  30327
I - Model Super-V, 4 PCLM (Normal Category), Approved September 21, 1962
Engines D1A-06 3g-n0imo c2yL
Fuel 91/96 min. grade aviation gasoline
 ensitginmEil For all operations, 2700 r.p.m. at 26.8 in.Hg. (170 hp.)
Propeller and propeller limits 2 Hartzell full-feathering propellers
HC-92ZK/8447-12A
Diameter:  Not over 72 in., not under 70 in.
Pitch setting at 30 in. station:
Low 12.3°, high 24.7°
sti mdielepsriA )SAIT ( deec xreeveN 240 m.p.h. (208 knots)
es iluarrcutc umrutmsixaM 190 m.p.h. (165 knots)
Maneuvering 152 m.p.h. (132 knots)
Flaps extended 126 m.p.h. (110 knots)
 dge ndrinadeentgaxLe 125 m.p.h. (109 knots)
egn a.rG.C    )t .hsbgslio(erWG  ) t..indmiwi(FL ).n it(im itLfA
  (landing gear extended) 3040 75 .0 83.1
3230 75.0 82.7
3400 82.4 82.4
Straight line variation between points shown.
3 4 0 0
3 2 3 0
3 0 4 0
G R O S S W E IG H T
(lb .)
7 5 .0 8 2 .4 8 3 .1
IN C H A F T O F D A T U M
Page No. 1 2 3
Rev. No. 1 1 1

In [12]:
first_page = a.pages[0]
print(first_page)

<Page:1>

In [3]:
import fitz
import pandas as pd

doc = fitz.open('./6a6.pdf')
page = doc.load_page(0)
#_, _, p_width, p_height = page.MediaBox
text = page.get_text("words")
output = pd.DataFrame(text, columns=["x0", "y0", "x1", "y1", "word", "block_no", "line_no", "word_no"])

In [4]:
blocks = page.get_text("dict")

In [138]:
output

,x0,y0,x1,y1,word,block_no,line_no,word_no
0,79.240601,721.733887,94.810066,732.459229,Page,0,0,0
1,96.761375,721.733887,108.490120,732.459229,No.,0,0,1
2,123.400299,721.733887,127.420296,732.459229,1,0,1,0
3,143.560608,721.733887,147.580612,732.459229,2,0,2,0
4,163.600311,721.733887,167.620316,732.459229,3,0,3,0
...,...,...,...,...,...,...,...,...
306,222.879730,669.483032,243.062225,681.489014,*(See,33,0,0
307,245.307724,669.483032,269.245941,681.489014,NOTE,33,0,1
308,271.546356,669.483032,276.046356,681.489014,3,33,0,2
309,278.346741,669.483032,288.784058,681.489014,for,33,0,3
310,291.084442,669.483032,332.584351,681.489014,limitations),33,0,4

In [61]:
a = output['x0'] <= 216

In [142]:
b = output['word'] == "Aircraft"

In [143]:
output[b]

,x0,y0,x1,y1,word,block_no,line_no,word_no
80,258.160614,232.682968,286.304474,244.68898,Aircraft,12,0,0

In [133]:
a = output['block_no'] == 80
output[a]

,x0,y0,x1,y1,word,block_no,line_no,word_no
72,72.024002,316.013000,90.294006,328.018982,Type,80,0,0
73,92.526009,316.013000,130.335007,328.018982,Certificate,80,0,1
74,132.585007,316.013000,157.659012,328.018982,Holder,80,0,2
75,216.050003,316.013000,235.229004,328.018982,Piper,80,1,0
76,237.505997,316.013000,267.944000,328.018982,"Aircraft,",80,1,1
77,270.247986,316.013000,284.008972,328.018982,Inc.,80,1,2
78,216.050003,326.572998,234.212006,338.578979,2926,80,2,0
79,236.534012,326.572998,255.713013,338.578979,Piper,80,2,1
80,257.990021,326.572998,278.429047,338.578979,Drive,80,2,2
81,216.050003,337.132996,234.095001,349.138977,Vero,80,3,0
82,236.417007,337.132996,261.104034,349.138977,"Beach,",80,3,1
83,263.390045,337.132996,289.562073,349.138977,Florida,80,3,2
84,294.062073,337.132996,316.778015,349.138977,32960,80,3,3

In [136]:
c = (output["line_no"] == 0) & (output["x0"] < 216)
output[c]

,x0,y0,x1,y1,word,block_no,line_no,word_no
0,214.009995,56.681778,284.945129,70.476379,DEPARTMENT,63,0,0
3,208.850006,68.341751,256.389069,82.136353,FEDERAL,64,0,0
31,206.179993,261.962128,231.328979,275.248779,TYPE,78,0,0
37,72.024002,284.333008,87.981003,296.338989,This,79,0,0
38,90.231003,284.333008,105.270004,296.338989,data,79,0,1
39,107.520004,284.333008,128.238007,296.338989,"sheet,",79,0,2
40,130.542007,284.333008,152.457016,296.338989,which,79,0,3
41,154.761017,284.333008,160.764023,296.338989,is,79,0,4
42,163.014023,284.333008,167.010025,296.338989,a,79,0,5
43,169.260025,284.333008,183.291031,296.338989,part,79,0,6
44,185.586029,284.333008,193.137024,296.338989,of,79,0,7
45,195.288025,284.333008,213.558029,296.338989,Type,79,0,8
46,215.790024,284.333008,253.599014,296.338989,Certificate,79,0,9
72,72.024002,316.013000,90.294006,328.018982,Type,80,0,0
73,92.526009,316.013000,130.335007,328.018982,Certificate,80,0,1
74,132.585007,316.013000,157.659012,328.018982,Holder,80,0,2
85,72.863998,358.273010,91.134003,370.278992,Type,81,0,0
86,93.366005,358.273010,131.175003,370.278992,Certificate,81,0,1
87,133.425003,358.273010,158.499008,370.278992,Holder,81,0,2
88,160.776001,358.273010,186.750015,370.278992,Record,81,0,3
105,72.024002,390.274017,75.525002,402.739014,I,82,0,0
106,77.783997,390.274017,80.780998,402.739014,-,82,0,1
107,83.064003,390.274017,107.516998,402.739014,Model,82,0,2
108,109.803001,390.274017,150.548004,402.739014,PA-28-160,82,0,3
109,152.870010,390.274017,197.591019,402.739014,"(Cherokee),",82,0,4
110,199.886017,390.274017,204.386017,402.739014,4,82,0,5
111,206.708023,390.274017,233.204025,402.739014,PCLM,82,0,6
126,90.024002,421.632996,115.601997,433.638977,Engine,83,0,0
135,90.024002,442.753021,106.070999,454.759003,Fuel,84,0,0
141,90.024002,463.873016,115.601997,475.878998,Engine,85,0,0
142,117.834000,463.873016,141.126007,475.878998,Limits,85,0,1
150,90.024002,484.993011,123.224998,496.998993,Propeller,86,0,0
151,125.501999,484.993011,138.516006,496.998993,and,86,0,1
152,140.838013,484.993011,174.039001,496.998993,Propeller,86,0,2
153,176.315994,484.993011,199.607986,496.998993,Limits,86,0,3
200,90.024002,558.942993,123.224998,570.948975,Propeller,89,0,0
201,125.501999,558.942993,153.671997,570.948975,Spinner,89,0,1
226,90.384003,611.742981,122.721001,623.748962,Airspeed,90,0,0
227,125.042999,611.742981,148.334991,623.748962,Limits,90,0,1
256,77.424004,675.362976,94.964996,687.368958,Page,94,0,0
257,97.196999,675.362976,110.481003,687.368958,No.,94,0,1
276,77.424004,686.882996,109.391998,698.888977,Revision,95,0,0
277,111.713997,686.882996,124.998001,698.888977,No.,95,0,1
296,77.424004,698.403015,94.964996,710.408997,Page,96,0,0
297,97.196999,698.403015,110.481003,710.408997,No.,96,0,1
316,77.424004,709.923035,109.391998,721.929016,Revision,97,0,0
317,111.713997,709.923035,124.998001,721.929016,No.,97,0,1
336,77.424004,721.442993,94.964996,733.448975,Page,98,0,0
337,97.196999,721.442993,110.481003,733.448975,No.,98,0,1
349,77.424004,732.963013,109.391998,744.968994,Revision,99,0,0
350,111.713997,732.963013,124.998001,744.968994,No.,99,0,1

In [116]:
key_term = output[c]

In [117]:
key_term.to_excel('key_term.xlsx')

In [56]:
page.search_for("Engines")

[Rect(90.0, 285.4830017089844, 119.03398895263672, 297.4889831542969)]

In [48]:
print(key_term)

     block_xMin  block_yMin  block_xMax  block_yMax    block_text  block_id  \
0     72.000000  722.043030   89.537102  734.049011          Page         0
1     91.830795  722.043030  105.106201  734.049011           No.         0
2    122.400002  722.043030  126.900002  734.049011             1         0
3    144.000000  722.043030  148.500000  734.049011             2         0
4    165.600006  722.043030  170.100006  734.049011             3         0
..          ...         ...         ...         ...           ...       ...
246   90.000000  603.200989  111.075005  614.190002         These        20
247  113.374504  603.200989  133.479019  614.190002        limits        20
248  135.778503  603.200989  147.814514  614.190002           are        20
249  150.114014  603.200989  193.330521  614.190002  individually        20
250  195.630020  603.200989  232.804520  614.190002    calibrated        20

     page  line
0       0     0
1       0     1
2       1     0
3       2     0
4       3     0
..    ...   ...
246     0     1
247     0     2
248     0     3
249     0     4
250     0     5

[85 rows x 8 columns]

In [141]:
output.to_excel('output.xlsx')